html {
  font-family: 'Vazir';
  color: black;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
  font-family: 'Vazir';
}

.uk-text-white {
  color: white !important;
}

header {
  background: linear-gradient(to bottom, #f88936 0%, #fd2120 100%);
  color: white;
}

pre, code {
  direction: ltr;
}

article h1 code {
  background: none;
}

.swift-version-title {
  background-color: #fd2120;
  color: white;
  padding: 12px;
  text-align: center;
}

.text-ltr {
  direction: ltr;
}

article h1 code {
  font-size: inherit;
}
